
body {
    width: 220px;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px 20px 20px;
    border: 2px solid white;
}
h1 {
    /*display: block;*/
    /*margin: 1 auto;*/
    padding: 20px 0 ;
    color: #00539F;
    text-shadow: 2px 2px 4px black;
}